body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: #ccc;
  padding: 10px;
}

.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.response-card {
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: #7a92ab;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  color: #007bff;
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  color: rgb(255, 255, 255);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}